@using Microsoft.AspNet.Identity;
@using SocialTrainingWebApp.Models;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <title>ir</title>
    @Styles.Render("~/Content/css2")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <nav class="navbar navbar-default navbar-fixed-top" style="min-width:300px">
        <div class="container">
            <div class="navbar-header" style="height:42px">
                <button data-target="#bs-navbar-collapse-vismaicons" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="active-on-mobile"> </div>
                @Html.ActionLink("Know Your Colleague", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <nav id="bs-navbar-collapse-vismaicons" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px; overflow-y:visible;min-width:400px">
                @Html.Partial("_LoginPartial", new LoggedInUserData(User.Identity.GetUserName()))
            </nav>
        </div>
    </nav>
    @RenderBody()
</body>

</html>
