@using System.Linq;
@{
    ViewBag.Title = "Home Page";
}

@model SocialTrainingWebApp.Models.ChosenEmployees

@Scripts.Render("~/bundles/jquery")

<div class="container">
    <div class="row vertical-center-row">
        <div class="col-lg-12">
            <div class="row ">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                    <div class="col-xs-6">
                        @{
                            <iframe src="~/MockImages/@Model._chosenEmployeeImageId" title="colleaguePortrait" scrolling="no"></iframe>
                        }
                    </div>
                    <div class="col-xs-5">
                        @{int i = 0; }
                        @foreach (var item in Model._employeeTriad)
                        {
                            <div class="row">
                                <button class="btn" value="@item.ImportId" id="@i" onclick="location.href='@Url.Action("Index", "Home")?buttonId=' +'@i';setColor(@i)">@item.FullName</button>
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function resizeIFrameToFitContent(iFrame) {

        iFrame.width = iFrame.contentWindow.document.body.scrollWidth;
        iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
    }

    window.addEventListener('DOMContentLoaded', function (e) {
        var iframes = document.querySelectorAll("iframe");
        for (var i = 0; i < iframes.length; i++) {
            resizeIFrameToFitContent(iframes[i]);
        }
    });

</script>


<script type="text/javascript">
    $('.btn').on("click", function () {
        var answer = sendValueToController($(this).attr("id"));
        @*if ($(this).attr("id") == "@Model._chosenTriadEmployee") {*@
        if(answer==true){
            $(this).addClass("btn-success");
        }
        else {
            $(this).addClass("btn-danger");
            $("#@Model._chosenTriadEmployee").addClass("btn-success");
        }
        document.body.innerHTML += '<div style="background-color: rgba(1, 1, 1, 0.01);bottom: 0;left: 0;position: fixed;right: 0;top: 0;"></div>';


    })

    function sendValueToController(id)
    {
        $.ajax({
            url: "/Home/CheckAnswer/",
            data: { ID: id },
            cache: false,
            type: "GET",
            timeout: 10000,
            dataType: "json",
            success: function (result) {
                if (result.Success) { // this sets the value from the response
                    return true;
                } else {
                    return false;
                }
            }
        });
    }
</script>







@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
