@using System.Linq;
@using SocialTrainingWebApp.Models;
@{
    ViewBag.Title = "Home Page";
}

@model SocialTrainingWebApp.Models.ChosenEmployees


<div class="container-fluid fit-container index-container-adjust">

    <div class="row vertical-center-row">
        <div class="panel panel-default guess-panel-adjust">
            <div class="panel-body guess-panel-body-no-padding">
                <div class="row">
                    <div class="col-xs-5 col-sm-5-5 col-lg-6 guess-image-container-formatted">
                        <a>
                            <img class="guess-image-formatted" src="~/MockImages/@Model._chosenEmployeeImageId">
                        </a>
                    </div>
                    <div class="col-xs-5-5 margin-left padding-right guessing-form-wrapper-adjust">
                        <form id="guessingForm" action="">
                            <div class="guessContainer">
                                @{int i = 0; }
                                @foreach (var item in Model._employeeTriad)
                                {
                                    <div class="accepted-answer-frame">
                                        <label class="stackGuessLabels padding-left padding-top">
                                            <input type="radio" class="option-input radio margin-right guess-radio-adjust" name="optionsRadios" id="@i" />@item.FullName
                                        </label>
                                    </div>


                                    i++;
                                }
                            </div>
                        </form>
                        <div class="col-xs-6 col-xs-offset-2 no-left-padding-guess-buttons">
                            <button id="optionButton" class="btn-block disabled bttn-jelly bttn-sm bttn-primary">Select</button>
                        </div>
                        <div class="col-xs-2 no-left-padding-guess-buttons skipBtn-wrapper-adjust">
                            <a id="skipBtn" href="/">Skip</a>
                        </div>
                        @Html.Partial("_ProgressSoFarPartial", new ProgressBar())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="padding-bottom margin-bottom fit-container index-container-adjust visma-logo-adjust" style="height: auto !important;"><img src="https://ux.visma.com/weblibrary/latest/img/visma-logo.svg" width="101" alt=""></div>
@Scripts.Render("~/bundles/checkAnswers")
@Scripts.Render("~/bundles/guessPanelAdjust")
<script type="text/javascript">
        function redirect() {
            window.location.href = '@Url.Action("Index", "Home")';
        }
</script>
